<% if (loggedInUser.role == 'admin') { %>
<div>
    <button class="questionBtn"><a href="/admin">Transaction</a></button>
</div>
<div>
    <button class="questionBtn"><a href="/subscriptions">Subscriptions</a></button>
</div>  
<% } %>