<header>
        <div class="logoSect"><img src="img/milk.png" alt=""></div>
        <div class="linkBar">    
            <p><a href="/">Home</a></p>
            <p><a href="/subscribes">My Subscribe</a></p>
            <p><a href="/users">Users</a></p>
        </div>
</header>