<header>
        <div class="logoSect">GoMilk</div>
        <div class="linkBar">
            
            <p><a href="/">Home</a></p>
            <p><a href="/user">Chart</a></p>
            <p><a href="/users">Users</a></p>
        

        </div>
</header>