<!DOCTYPE html>
<html>
<head>
    <title>GoMilk</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div id="content">

        <%- include('partials/header.ejs') %>

        <nav>
            <div class="navbar">
               
            </div>
        </nav>


        <main>
            
            <h1> <a href="/login">Login</a> </h1>
            <h1> <a href="/register">Register</a> </h1>

        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
    
</body>
</html>