<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head',{title:'Index'}) %>
</head>
<body>
    <div id="content">

        <%- include('partials/header.ejs') %>

        <nav>
            <div class="navbar">
               
            </div>
        </nav>


        <main>
            
            <h1> <a href="/login">Login</a> </h1>
            <h1> <a href="/register">Register</a> </h1>

        </main>

        <aside>
            
        </aside>

        

        <footer></footer>

    </div>
    
</body>
</html>