/* Smartphones (portrait) ———– */
* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    background-color: #EBEBEB;
    /* background: linear-gradient(to bottom, rgb(216,71,39),white); */
    
}
.banner:hover {
    background-position: top;
}
/* content container ------------------- */

#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    max-width: 100%;
    margin: 0 auto;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "aside aside aside aside"
    "footer footer footer footer";
    
}
#content >*{
    /* background: #4B88A2; */
}
/* header---------------------------- */
header a {
    text-decoration: none;
    color: #1B1B1C;
}
header {
    /* background-color: #EF7B45; */
    background: linear-gradient(to top,#EBEBEB, #EBEBEB);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
    margin: 0 auto;
    grid-gap: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px gray;
}
header div{
    align-self: center;
}
.logoSect {
    padding: 5px;
    font-size: 40px;
}
.linkBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(20px,auto);
    font-size: 20px;
}
.linkBar p:hover {
    border-bottom: 5px solid #D73D44;
    margin-bottom: -5px;
    transition: .3s;
    text-shadow: 0px 0px 4px #FFF9FB;
    cursor: pointer;
}


/*  navbar ---------------------*/

.navbar {
    background-color: #1B1B1C;
    /* background: linear-gradient(to bottom, rgb(216,71,39), rgb(239,123,69)); */
    color: #EBEBEB;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 10px;
}
select ,option {
    padding: 10px 10px;
    width: 180px;
}
/*  login page ---------------------*/
.loginForm {
    display: grid;
    max-width: 400px;
    align-self: center;

}
/*  main conten post ---------------------*/
main a {
    text-decoration: none;
    color: #252627;
}
main {
    /* background-image: url(../wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    transition-duration: 12s; */
    grid-area: main;
    padding: 10px;
    display: block;
    min-height: 500px; 
    margin-bottom: 20px;   
}
/* main:hover {
    background-position: top;
} */
.postCard {
    border-top: 4px solid #D73D44;
    background-color: #EBEBEB;
    min-height: 150px;
    border-radius: 4px;
    overflow: hidden;
    break-inside: avoid;
    padding: 15px;
    text-align: justify;
    color: #252627;
    filter: drop-shadow(0 0 2px #252627);
    margin-bottom: 15px;
    transition: 0.3s;
    display: grid;
}
.postCard h1{
    text-align: center;
    font-size: 24px;
    background-color: #1B1B1C;
    margin: -15px -15px 15px -15px;
    padding: 5px;
    color: #EBEBEB;
    transition: .4s;
}
.postCard img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    margin: -15px -15px 15px -15px;
}
.postCard:hover{
    background-color: #ffffff;
    color: #222222;
}
.postCard h1:hover{
    background-color: #EBEBEB;
    color: #1B1B1C;
}



/* aside ---------------------------------- */
aside {
    grid-area: aside;
}
.asideForm *{
    margin-bottom: 15px;
}
.asideForm {
    background-color: #D73D44;
    color: #FFF9FB;
    padding: 10px;
    height: 100%;
    
}
textarea , input {
    width: 90%;
    min-height: 30px;
    padding: 5px;
    font-size: 16px;
}
textarea {
    height: 150px;
}
.questionBtn , .newTripBtn {
    border: 2px solid#D3D4D9;
    height: 40px;
    display: block;
    width: 120px;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 30px;
    transition: .3s;
}
.questionBtn:hover , .newTripBtn:hover {
    cursor: pointer;
    background-color: #D73D44;
}
form button {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background-color:#D73D44;
    
}

nav {
    grid-area: nav;
}


.coolTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.coolTable td, .coolTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.coolTable tr:nth-child(even){background-color: #f2f2f2;}

.coolTable tr:hover {background-color: #ddd;}

.coolTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1B1B1C;
    color: white;
}



/* footer ----------------------------- */

footer {
    grid-area: footer;
    background-color: #F3B406;
}


/* dekstop responsive -------------------------- */
@media screen and (min-width:1000px){
    #content{
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "aside aside aside aside"
        "footer footer footer footer";
    }
    .linkBar {
        grid-gap: 50px;
        justify-self: end;
        margin-right: 60px;
        font-size: 30px;
    }
    main {
        column-count: 5;
    }
    header {
        grid-template-columns: 1fr 1fr;
    }
}




